<div id="scroll-progress"></div>
<script>
    const scrollProgress = document.getElementById('scroll-progress');
    const height =
      document.documentElement.scrollHeight - document.documentElement.clientHeight;
    
    window.addEventListener('scroll', () => {
      const scrollTop =
        document.body.scrollTop || document.documentElement.scrollTop;
      scrollProgress.style.width = `${(scrollTop / height) * 100}%`;
    });
</script>
<style>
#scroll-progress {
    position: fixed;
    top: 0px;
    width: 0%;
    height: 4px;
    background: #7983ff;
    left: 0px;
    z-index: 1;
}
</style>